<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- Example AAD instance provided by Jacob Foshee at Durwella -->
    <!-- test@durwellatesting.onmicrosoft.com|JurassicPark! -->
    <add key="oauth.aad.DomainHint" value="durwellatesting.onmicrosoft.com"/>
    <add key="oauth.aad.TenantId" value="fe23e5c3-19be-467d-8a25-4bc12004ee65"/> <!-- On Azure Portal look under App Registrationgs, Endpoints --> 
    <add key="oauth.aad.ClientId" value="4aea6195-bac5-4d68-b8e2-e9af0234830d"/> <!-- Client ID AKA Application ID -->
    <add key="oauth.aad.ClientSecret" value="GdCHl0w8Lqk/UuMu9lwpUXlToAnbFuiJ8XPyI3/lVRs="/>
    <!-- CallbackUrl MUST match a REPLY URL configured in the AAD App. -->
    <!--<add key="oauth.aad.CallbackUrl" value="http://localhost:8088/auth/aad"/>-->
  </appSettings>
</configuration>