<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- Example AAD instance provided by Jacob Foshee at Durwella -->
    <add key="oauth.aad.TenantId" value="fe23e5c3-19be-467d-8a25-4bc12004ee65"/>
    <add key="oauth.aad.ClientId" value="21b967cf-62d6-4a9a-a097-b6d80fbc26e7"/>
    <!-- Expires 18 July 2017 -->
    <add key="oauth.aad.ClientSecret" value="WZiRy18VKxpwPV+rc7+HQCaSLEuwaJGXpLeIx+bIAIg="/>    
  </appSettings>
</configuration>